
:root {
/* CSS HEX */
--white: #ffffffff;
--silver: #c0c0c0ff;
--paynes-gray: #5a5e6bff;
--black: #000000ff;

  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 50;

}




/*HEADER*/

header {
    text-align:center;
    margin: 20px;
   
   
}

nav ul {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    list-style: none;
    font-size: 1em;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.2em;
}

nav ul a:hover {
    color: var(--silver);
    font-size: 1.3em;
}

.logo {
    width: 50%;
 

}


/*MAIN*/

main {
    padding: 20px;
}

.bannerImg {
width: 100%;
    border-radius: 1em;

 
}

.container {
   
    display: flex;
  
    justify-content: space-evenly;
   
}

.container h2 {
    text-align: center;
   
}

.left,.middle,.right {
  margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
      flex: 1;
      background-color: var(--silver);
      border-radius: 1em;
      box-shadow: 2px 2px 10px var(--paynes-gray);
    

   
}

.middle {
    margin-left: 20px;
     margin-right: 20px;
    
}

.sale {
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    font-size: 1.5em;
    background-color: var(--silver);
    border-radius: 1em;
    padding: 10px;
    opacity: 0.7;
    box-shadow: 5px 5px 5px var(--paynes-gray);
     animation-name: myAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  from {background-color: var(--silver);}
  to {background-color: var(--paynes-gray);}
}

.right p {
    margin-bottom: 35px
}

/*FOOTER*/

.footerLogo {
width: 30%;

}

footer {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

footer div {
  flex: 1;
 
}

.footerRight {
    text-align: right;
}